<div class="jumbotron center">
  <h1>About</h1>
  <p>I created this page while following along with the <a href="http://onemonthrails.com">OneMonthRails</a> program.  In total I spent about two weeks creating the app working around 3hrs per night.</p>

  <p>Let me know what you think, you can find me <strong><a href="https://twitter.com/tlreiff">@tlreiff</a></strong> or <strong><a href="https://github.com/treiff">Github</a></strong>
<div>